{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container border-bottom border-top bg-light rounded">
    <br>
    <div class="row">
        <div class="col m-1 bg-white text-black border rounded-start">
            <h2 class="display-4">big text</h2>

            <p>we created this website</p>
        </div>
        <div class="col m-1 bg-white text-black border rounded-end">
            <h2 class="display-4">same size of text as on the left, but it doesn't fit, unfortunately</h2>

            <p>this is the page about us</p>
        </div>
    </div>
    <br>
</div>
{% endblock %}
