
<header class="container bg-light shadow-grey border-bottom border-top rounded-bottom">
    <div class="row align-items-center justify-content-between">
        <div class="col">
            <h1>header</h1>
        </div>
        <div class="col-2 row justify-content-end">
            <div class="col">
                <a class="text-decoration-none text-black" href="{% url 'index' %}">index</a>
            </div>
            <div class="col">
                <a class="text-decoration-none text-black" href="{% url 'about' %}">about</a>
            </div>
        </div>
    </div>
</header>
<br>